@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    /* garante que o elemento ocupa no maximo o espaço definido no width */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header .logo {
    background-color: #0BEAEA;
    text-align: center;
}



header .menu ul {
    margin: 0;
    /* margin = espaçamento externo */
    list-style: none;
    /* tirar marcador da lista */
    padding: 0;
}

header .menu ul li {
    display: inline-block;
    padding: 10px 15px;
    /* padding = espaçamento interno | 10px pra cima e pra baixo, 15px pras laterais */
}

header .menu ul li a {
    text-decoration: none;
    /* tirar sublinhado */
    color: #FDFDFD;
    /* muda a cor do texto */
}

main section.banner {
    height: 600px;
    /* altura */
    /* background-color: cadetblue; */
    /* cor de fundo pra teste */
    background-image: url(../imagens/banner-home.png);
    /* imagem de fundo */
    background-repeat: no-repeat;
    /* imagem não vai repetir */
    background-size: cover;
    /* imagem vai cobrir todo o elemento section */
    background-position: center;
}

main section.banner .container {
    display: flex;
    justify-content: flex-end;
    /* alinhamento horizontal pra direita */
    align-items: center;
    /* alinhamento vertical centralizado */
    height: 600px;
    /* altura */
}

main section.banner h1 {
    font-size: 70px;
    text-transform: lowercase;
    /* tudo com letra minuscula */
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
    /* sombra no texto */
    padding: 100px;
}

.planos article p {
    font-size: 16px;
}

main section.planos .container {
    min-height: 600px;
    width: 1200px;
    max-width: 100%;
    /* largura */
    margin: 0 auto;
    /* espaçamento automatico para centralizar o container */
    padding: 0 15px;
}

main section.planos h2 {
    color: #0BEAEA;
    text-align: center;
    font-weight: bold;
    /* grossura da letra */
    font-size: 55px;
    /* tamanho da letra */
    margin: 40px;
}

.planos {
    display: flex;
    /* ativando flexbox */
    justify-content: space-between;
    /* espaçamento igual ao redor dos elementos (horizontal) */
    align-items: flex-start;
    /* todos os elementos alinhados ao topo */
    flex-wrap: wrap;
    /* permite que aconteça a quebra de linha */
}

.planos article {
    /* border: 1px solid orange; */
    /* borda somente para teste */
    width: 345px;
    /* largura do article */
    text-align: center;
    /* centralizando tudo no article */
    margin-bottom: 60px;
    /* espaçamento inferior */
    border-radius: 10px;
    box-shadow: 10px 0px 10px 0px;
    border: 1px solid #0BEAEA;;
    padding: 9px 25px;
}

.planos article .thumb {
    width: 100%;
    /* imagem vai ocupar 100% de largura do article */
    height: 280px;
    /* altura do thumb */
    background-color: #0BEAEA;
    /* cor de fundo somente para teste */
    background-size: cover;
    /* imagem cobre todo o elemento */
    background-repeat: no-repeat;
    /* imagem não se repete */
    background-position: center;
    /* imagem centralizada */
    border-radius: 50px;
    

}

.planos article h3 {
    font-size: 26px;
    color: #0BEAEA;
}

.planos article a {
    background-color: #0BEAEA;
    /* cor de fundo */
    color: #FFF;
    /* cor do texto */
    font-size: 20px;
    /* tamanho da letra */
    font-weight: bold;
    /* grossura da letra */
    padding: 0px 15px;
    /* espaçamento interno do botão */
    text-decoration: none;
    /* tirar sublinhado do link */
    border-radius: 15px;
    
}
