.container-receita-interna {
    width: 1200px;
    max-width: 100%;
    margin: 50px auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container-receita-interna main {
    width: 700px;
    max-width: 100%;
    padding-right: 50px;
}

.container-receita-interna main img {
    width: 100%;
}

small.tag {
    display: inline-block;
    border: 1px solid #176902;
    border-radius: 47px;
    /* bordas arredondadas */
    color: #176902;
    padding: 5px 10px;
    margin: 10px 0;
}
